.cardsBlock {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-4 mx-8;

  .key {
    @apply flex flex-col justify-between items-center bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 m-4;
  }
  .headText {
    @apply flex justify-center items-center;

    .icon {
      width: 100px;
      height: 100px;
    }
  }
  .seName {
    @apply text-2xl font-semibold text-center;
  }
  .promo {
    @apply py-4 pb-4 mx-8 mb-2;
  }
  .promoText {
    @apply text-lg font-medium my-2;
  }
  .divButton {
    background-color: #164863;
    @apply w-full p-3;
  }
  .buttonText {
    @apply w-full text-white;
  }
}
